In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#A1.
import pandas as pd
pd1 = pd.Series([4,8,15,16,23,42])
print("The required series of the given data is as follows :")
print(pd1)

The required series of the given data is as follows :
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#A2.
import pandas as pd
list1 = [2,4,6,8,10,12,14,16,18,20]
series = pd.Series(list1)
print(series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [4]:
#A3.
import pandas as pd
data = { "Name" : ['Alice', 'Bob', 'Claire'],
      "Age" : [25, 30, 27],
      "Gender" : ['Female', 'Male', 'Female']}
df1 = pd.DataFrame(data)
print("The DataFrame created using given data is as follows :")
df1

The DataFrame created using given data is as follows :

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#A4.
In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (numeric, string, boolean, etc.). It is similar to a table or a spreadsheet, where data is organized in rows and columns. A DataFrame provides a powerful and flexible way to manipulate, analyze, and visualize data.

On the other hand, a Series in Pandas is a one-dimensional labeled array that can store data of a single data type. It is similar to a column in a DataFrame or a single column of a spreadsheet. A Series is useful for working with a single column or a single variable, while a DataFrame is suitable for working with multiple columns and performing operations across multiple variables.

Below is an example from which it is clear that a DataFrame contains multiple columns whereas a Series contains only a single column.

In [5]:
#Example of A4. 
import pandas as pd
data = {'Name': ['Jannat', 'Anant', 'Bhaskar'],
        'Age': [25, 30, 28],
        'City': ['Lucknow', 'Pune', 'Gujarat']}
df = pd.DataFrame(data)
print("DataFrame : ")
print(df)

age = pd.Series([25, 30, 28], name='Age')
print("Series : ")
print(age)

DataFrame :
      Name  Age     City
0   Jannat   25  Lucknow
1    Anant   30     Pune
2  Bhaskar   28  Gujarat
Series :
0    25
1    30
2    28
Name: Age, dtype: int64

#A5. 
Pandas library provides us a wide range of functions and methods to manipulate data in a DataFrame. Some of the functions are :
1) head() and tail() : These functions allow you to see the first few(5) rows or the last few(5) rows of an existing DataFrame. 
2) describe() :  This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It gives a summary overview of the distribution of the data.
3) unique() : This function returns the unique values in a column of the DataFrame. It is useful for exploring the distinct values present in a categorical or discrete variable.
4) drop() : This method allows you to remove rows or columns from the DataFrame. It is useful when you want to eliminate unnecessary data or columns that are not relevant to your analysis.
5) groupby() : This method is used to group the DataFrame by one or more columns and perform operations on each group. It is often used in combination with other functions, such as sum(), mean(), count(), etc., to calculate aggregated statistics for each group.
6) For example - You might use the head() function to quickly check the first few rows of a DataFrame and ensure that the data is loaded correctly. The drop() function can be used to remove unnecessary row or column that is no longer needed. The describe() method is useful when you want to check the count, mean, standard deviation,  minimum  or maximum etc. for the columns of your data.

#A6.
According to the question, Series and DataFrame are mutable in nature, while Panel is not.
In Pandas, a mutable object refers to an object that can be modified after it is created. Mutable objects allow you to change their values, add or remove elements, or modify existing elements.
Series and DataFrame are mutable objects in Pandas, meaning you can modify their values, add or remove rows or columns, and perform various operations that alter their structure or content.
On the other hand, Panel is an immutable object in Pandas. The Panel data structure has been deprecated in recent versions of Pandas, and it is recommended to use other data structures, such as multi-indexed DataFrames, to handle similar use cases.

In [6]:
#A7.
import pandas as pd
name_s = pd.Series(['Abhi', 'Ashu', 'Manas'])
age_s = pd.Series([23,25,21])
city_s = pd.Series(['Agra','Delhi','Pune'])

df = pd.DataFrame({'Name' : name_s,
                  'Age' : age_s,
                  'City' : city_s})
print("The DataFrame using multiple series is created and it is given as follows : ")
df

The DataFrame using multiple series is created and it is given as follows :

    Name  Age   City
0   Abhi   23   Agra
1   Ashu   25  Delhi
2  Manas   21   Pune